{{ partialCached "footer/components/script.html" . }}
<script defer language="javascript" type="text/javascript"  src="{{ "js/plugins.js" | urlize | relURL }}"></script>

<script defer language="javascript" type="text/javascript"  src="{{ "js/main.js" | urlize | relURL }}"></script>
