{{ define "body-class" }}
    {{ $TOCEnabled := default (default false .Site.Params.article.toc) .Params.toc }}
    {{- .Scratch.Set "hasTOC" (and (ge (len .TableOfContents) 100) $TOCEnabled) -}}
    article-page {{ if (.Scratch.Get "hasTOC") }}has-toc{{ end }}
{{ end }}

{{ define "container-class" }}
    {{ if (.Scratch.Get "hasTOC") }}
        extended
    {{ else }}
        on-phone--column {{ if .Site.Params.widgets.enabled }}extended{{ else }}compact{{ end }}
    {{ end }}
{{ end }}

{{ define "main" }}

    {{ partial "article/article.html" . }}

    {{ partial "article/components/related-contents" . }}
     
    {{ if not (eq .Params.comments false) }}
        {{ partial "comments/include" . }}
    {{ end }}

    {{ partialCached "footer/footer" . }}

    {{ partialCached "article/components/photoswipe" . }}
{{ end }}

{{ define "left-sidebar" }}
    {{ if (.Scratch.Get "hasTOC") }}
        {{ partial "sidebar/left.html" . }}

        <!-- Disable back button 
        <div id="article-toolbar">
            <a href="{{ .Site.BaseURL | relLangURL }}" class="back-home">
                {{ (resources.Get "icons/back.svg").Content | safeHTML }}
                <span>{{ T "article.back" }}</span>
            </a>
        </div>
        -->
    {{ else }}
        {{ partial "sidebar/left.html" . }}
    {{ end }}
{{ end }}

{{ define "right-sidebar" }}
    
        <aside class="sidebar right-sidebar sticky">
            {{ partial "widget/graph.html" . }}
            <section class="widget archives">
                <div class="widget-icon">
                    {{ partial "helper/icon" "hash" }}
                </div>

                {{ if (.Scratch.Get "hasTOC") }}
                <h2 class="widget-title section-title">{{ T "article.tableOfContents" }}</h2>
                
                <div class="widget--toc widget--card">
                    {{ .TableOfContents }}
                </div>
                {{ end }}

                <h2 class="widget-title section-title">Linked to:</h2>
                <div class="widget--linksto widget--card">
                    {{ $parentPage := . }}
                    <ul>
                    {{ range .Params.linkedArticles }}
                    {{ $ref := ref $parentPage . }}
                    {{ $page := $parentPage.GetPage . }}
                        
                    <li>
                        <a href="{{ $ref }}">{{ $page.Title }}</a>
                    </li>
                    {{ end }}

                    </ul>
                </div>

                <h2 class="widget-title section-title">Linked by:</h2>
                <div class="widget--linkedby widget--card">
                    {{ $parentPage := . }}
                    <ul>
                    {{ range .Site.RegularPages }}
                      {{ $page := . }}
                      {{ range .Params.linkedArticles}}
                      {{ $linkedPage := $parentPage.GetPage .}}
                        {{ if eq $linkedPage $parentPage }}
                      <li>
                        <a href="{{ $page.Permalink }}">{{ $page.Title }}</a>
                      </li>
                        {{ end }}
                      {{ end }}
                    {{ end }}
                    
                    </ul>
                </div>



            </section>
        </aside>
{{ end }}
