.introduction-content {
    margin: 0px auto 50px auto;
    max-width:75%;
}

svg#networkgraph {

    width: 100%;

    g.node {
        path {
            fill:var(--accent-color);
        }

        &.tag {
            path {
                fill:var(--splashcolor-tag);
            }
        }
    }

    text {
        fill:var(--accent-color);
    }
}