{{ define "main" }}

    <section class="index-content introduction-content">
        {{ .Content }}
    </section>


    {{ $pages := (where .Site.RegularPages "Type" "in" .Site.Params.mainSections).ByDate }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $filtered := ($pages | intersect $notHidden) }}
    {{ $pag := .Paginate ($filtered) }}

    

    <section class="article-list article-grid">
        {{ range $index, $element := $pag.Pages }}
            
            {{ partial "article-list/default" . }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" . }}
{{ end }}